$color1: #FAFAFA;
$color2: #FFFFFF;
$color3: #DCDCDC;
$color4: #1BA986;
$color5: #0E3B51;
$color6: #000000;

$weight3: 300;
$weight4: 400;
$weight5: 500;
$weight6: 600;

$size10: 10px;
$size12: 12px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size24: 24px;
$size28: 28px;
$size37: 37px;
$size38: 38px;
$size53: 53px;
$size37: 37px;

$lineHeight15: 15px;
$lineHeight18: 18px;
$lineHeight24: 24px;
$lineHeight27: 27px;
$lineHeight30: 30px;
$lineHeight33: 33px;
$lineHeight36: 36px;
$lineHeight42: 42px;
$lineHeight55: 55.5px;
$lineHeight57: 57px;
$lineHeight73: 73px;

$letterSpacing: 0px;

$textAlign: center;

$block: block;
$none: none;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $color1;
  width: 100%;
  min-height: 100vh;
  letter-spacing: $letterSpacing;
}

.texto-brand{
  color: $color4;
  font-weight: $weight6;
}

.texto-color1{
  color: $color5;
  font-weight: $weight4;
}
.texto-color2{
  color: $color5;
  font-weight: $weight6;
}
.texto-color3{
  color: $color2;
  font-weight: $weight6;
}
.text-color4{
  color: $color5;
  font-weight: $weight5;
}
.tc-cuatro-a{
  font-size: 15px;
  line-height: $lineHeight24;
}
.tc-cuatro-b{
  font-size: 17.3px;
  line-height: $lineHeight24;
}
.text-color5{
  color: $color5;
  font-weight: $weight3;
}
.texto-aside1{
  font-size: $size24;
  line-height: $lineHeight36;
}
.texto-aside2{
  font-size: 17.9px;
  line-height: $lineHeight27;
}
.texto-color6{
  color: $color2;
  font-weight: $weight5;
}

.mostrarBtn, .txt-a-d{
  display: $none;
}
.txt-a-m{
  display: $block;
}

.btn-started1{
  font-size: $size10;
  line-height: $lineHeight15;
  text-align: $textAlign;
  display: $block;
}
.centrado{
  text-align: start;
}

.card{
  background-color: $color1;
}
.borde-hr1{
  border: 1px solid $color5;
  display: $none;
}
.borde-hr2{
  border: 1px solid $color5;
  display: $block;
}

.mitad, .mitad2{
  width: auto;
}

.bordes {
  border: 2px solid $color3;
  width: auto;
  height: auto;
}
.bordes:hover{
  border: 0;
  box-shadow: 0px 6px 5px 0px #00000017;
}
.b-tb-name{
  font-size: $size18;
  line-height: $lineHeight27;
}
.b-tb-description {
  font-size: 14.5px;
  line-height: $lineHeight24;
}

.imagen{
  height: auto;
}
.imagenLW{
  width: 100%;
  height: auto;
}

.a-h1-tx2{
  font-size: 31px;
  line-height: $lineHeight42;
}
.a-txtc5{
  font-size: 15.5px;
  line-height: $lineHeight24;
}
.button-btns1{
  width: 261px;
  height: 84px;
  font-size: $size24;
  line-height: $lineHeight36;
}
.btn-vop{
  border: 2px solid $color5;
}

.h1-txtc2{
  font-size: 23.8px;
  line-height: $lineHeight36;
}
.section-text{
  font-size: $size18;
  line-height: $lineHeight27;
}
.width{
  width: 17%;
}

.a-secc-title{
  font-size: $size24;
  line-height: $lineHeight36;
}
.a-secc-description{
  font-size: 13.3px;
  line-height: $lineHeight24;
  padding-left: 17%;
}
.txtb-mobile2{
  font-size: $size38;
  line-height: $lineHeight57;
}
.mf-text{
  font-size: 17px;
  line-height: $lineHeight27;
}
.txtb-quickLinks{
  font-size: $size24;
  line-height: $lineHeight36;
}
.txtb-ql-mobile{
  font-size: $size18;
  line-height: $lineHeight27;
}
.inputEmail::placeholder{
  font-size: $size12;
  line-height: $lineHeight18;
}
.txtc5-description{
  font-size: 10.8px;
  line-height: $lineHeight18;
}
.btn-email{
  font-size: $size12;
  line-height: $lineHeight18;
}
.txtc1-icons{
  font-size: $size18;
  line-height: $lineHeight27;
}
.tamano{
  width: auto;
}

// Smartphones, iphones and ipad mini
@media (min-width: 768px) and (max-width: 991.99px) { 
  .txtb-mobile1{
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .nav-menu-m{
    font-size: $size22;
    line-height: $lineHeight33;
  }
 }

//  ipad pro y tablets
 @media (min-width: 992px) and (max-width: 1199.99px) { 
  .txtb-tablet1{
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .txtb-tablet2{
    font-size: $size38;
    line-height: $lineHeight57;
  }
  .nav-menu-t{
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .btn-started1, .borde-hr2, .txt-a-m{
    display: $none;
  }
  .btn-started2, .btn-login{
    font-size: $size12;
    line-height: $lineHeight15;
    text-align: $textAlign;
  }
  .centrado{
    text-align: $textAlign;
  }
  .mostrarBtn, .borde-hr1, .txt-a-d{
    display: $block;
  }
  .tc-cuatro-b{
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .mitad, .mitad1, .mitad2{
    width: 50%;
  }
  .texto-aside2{
    font-size: 14px;
    line-height: $lineHeight24;
  }
  .bordes{
    width: 300px; 
    height: 156px;
  }
  .section-grid{
    width: 625.5px;
    height: 429.5px;
  }
  .b-tb-name{
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .b-tb-description{
    font-size: 14px;
    line-height: $lineHeight18;
  }
  .imagen{
    width: 45%;
    height: auto;
  }
  .imagenLW{
    width: 50%;
    height: auto;
  }
  .a-h1-tx2{
    font-size: $size38;
    line-height: $lineHeight57;
  }
  .a-txtc5{
    font-size: 15px;
    line-height: $lineHeight18;
  }
  .button-btns1{
    width: 40%;
    height: 50px;
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .h1-txtc2{
    font-size: $size28;
    line-height: $lineHeight42;
  }
  .section-text{
    font-size: 13.7px;
    line-height: $lineHeight18;
  }
  .width{
    width: 12%;
  }
  .a-secc-description{
    font-size: 11.6px;
    line-height: $lineHeight24;
    padding-left: 12%;
  }
  .tamano{
    width: 33%;
  }
  .mf-text{
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .txtc1-icons{
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .txtb-ql-mobile{
    font-size: 14px;
    line-height: $lineHeight24;
    margin-top: 37px;
  }
  .txtc5-description{
    font-size: 10.3px;
    line-height: $lineHeight18;
    margin-top: 40px;
  }
}

// laptops, desktops and monitors
@media (min-width: 1200px) { 
  .txtb-desktop1{
    font-size: $size28;
    line-height: $lineHeight42;
  }
  .txtb-desktop2{
    font-size: $size38;
    line-height: $lineHeight57;
  }
  .nav-menu-d{
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .btn-started1, .borde-hr2, .txt-a-m{
    display: $none;
  }
  .btn-started2, .btn-login{
    font-size: $size16;
    line-height: $lineHeight24;
    text-align: $textAlign;
  }
  .mostrarBtn, .borde-hr1, .txt-a-d{
    display: $block;
  }
  .centrado{
    text-align: $textAlign;
  }
  .tc-cuatro-a{
    font-size: $size20;
    line-height: $lineHeight30;
  }
  .mitad{
    width: 45%;
  }
  .mitad2{
    width: 50%;
  }
  .bordes{
    width: auto; 
    height: auto;
  }
  .b-tb-name{
    font-size: $size20;
    line-height: $lineHeight30;
  }
  .b-tb-description {
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .texto-aside1{
    width: 90%;
  }
  .texto-aside2{
    font-size: 15px;
    line-height: $lineHeight24;
  }
  .imagen{
    width: 94%;
    height: auto;
  }
  .a-h1-tx2{
    font-size: $size53;
    line-height: $lineHeight73;
  }
  .a-txtc5{
    font-size: $size18;
    line-height: $lineHeight27;
  }
  .button-btns1{
    width: 40%;
    height: 50px;
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .imagenLW{
    width: 50%;
    height: auto;
  }
  .section-text{
    font-size: $size16;
    line-height: $lineHeight24;
  }
  .a-secc-title{
    font-size: $size28;
    line-height: $lineHeight42;
  }
  .width{
    width: 12%;
  }
  .a-secc-description{
    font-size: 14px;
    line-height: $lineHeight24;
    padding-left: 11%;
  }
  .tamano{
    width: 33%;
  }
  .mf-text, .txtc1-icons{
    font-size: $size18;
    line-height: $lineHeight27;
  }
  .txtb-ql-mobile{
    font-size: $size18;
    line-height: $lineHeight27;
    margin-top: 37px;
  }
  .txtc5-description{
    font-size: $size12;
    line-height: $lineHeight18;
    margin-top: 37px;
  }
}